* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }

  /* a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  } */

  
/* Background stretching for the main page */

#background{
    background-color: black;
    opacity: 90%;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    z-index:-1;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.stretch {
    width:100%;
    height:100%;
}

/* Background stretching for the main page */

/* Navigation bar css*/

#navigationbar {
    display: flex;
    list-style-type: none;
    margin:20px;
    margin-right: 100px;
    padding:0;
    font-family: "KenyanCoffee";
    font-size: 35px;
    letter-spacing: 0.1em;
    overflow: hidden;
    float: right;
}

#navigationbar li{
    display: inline;
}

#navigationbar li a{
    display:block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    margin-right: 50px;
    float: right;
}

#navigationbar li a:hover{
    color: #F6EAC9;
}

/* Navigation bar css*/

/*LOGO upper left*/

#logo {
    position: absolute;
    font-family: "FreestyleScript";
    font-size: 70px;
    text-decoration: none;
    color:#F6EAC9;
    display: block;
    padding: 20px 20px;
    margin-left:100px;
}

#logo a{
    text-decoration: none;
    color: #F6EAC9;
    margin-left:100px;
}

.bean {
    /* padding: 5px; */
    display: inline;
    margin-top: 20px;
}

/*LOGO upper left*/

/* Pumpkin spice on the left */

.lefttext {
    /* float: left; */
    position: absolute;
    font-family: "Ikabel";
    font-size: 10px;
    margin-left: 50px;
    transform: rotate(-90deg);
    color: white;
    top: 50%;
    /* transform: translateY(-50%); */
    /* padding: 25px; */
    letter-spacing: 0.3rem;
    font-weight: lighter;
}

.lefttext span:after{
    margin-left: 20px;
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}

/* Pumpkin spice on the left */

/*Middle text*/

#centertext{
    display: block;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#centertext h1{
    font-family: "FreestyleScript";
    font-size: 250px;
    font-weight: lighter;
    color: #F6EAC9;
    margin: 0;
    line-height: 250px;
}

#centertext h2{
    font-family: "KenyanCoffee";
    font-size: 100px;
    font-weight: lighter;
    letter-spacing: 0.1em;
    color: white;
    margin: 0;
    line-height:50px;
}

/*Middle text*/

/* Bottom right */

.bottomright{
    display: block;
    position: absolute;
    text-align: left;
    justify-content:left;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
    margin-right: 0;
}

.bottomright h1{
    /* display: block; */
    font-family: "FreestyleScript";
    font-size: 50px;
    text-decoration: none;
    color:#F6EAC9;
    display: block;
    /* padding: 20px 20px;
    margin-right:100px; */
}

.bottomright h2{
    font-family: "Ikabel";
    font-size: 20px;
    color: white;
}

.bottomright a{
    margin-top: 10px;
    padding: 5px;
}

/* Bottom right */

/* about us page background*/

#backgroundAbout{
    background-color: black;
    opacity: 90%;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    z-index:-99;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.stretch {
    width:100%;
    height:100%;
}

/* about us page background*/

.aboutus {
    display: block;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* about us page background*/

/* about us content */

.aboutus h1{
    font-family: "FreestyleScript";
    font-size: 200px;
    font-weight: lighter;
    color: #F6EAC9;
    margin: 0;
    line-height: 250px;
}

.aboutus h2{
    font-family: "KenyanCoffee";
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 0.1em;
    color: white;
    margin: 0;
    line-height:50px;
}

.aboutus p{
    display: block;
    justify-content: center;
    max-width: 800px;
    font-family: "Ikabel";
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.1em;
    color: white;
    text-shadow: grey;
    margin: 0;
    line-height:30px;
    border-bottom: 1px solid #F6EAC9;
}

/* hamburger menu */

.menuItem{
    display: block;
    transform: translate(80%);
    margin: 2rem 4rem;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: "KenyanCoffee";
    font-weight: lighter;
    letter-spacing: 0.2em;
}

.menuItem:hover{
    color: #F6EAC9;
}

.hamburger{
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    /* background: none; */
    cursor: pointer;
    color: #F6EAC9;
    margin:30px;
    margin-right: 100px;
    padding:0;
}

.closeIcon{
    display: none;
}

.menu{
    position: fixed;
    transform: translateY(100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}